{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4 text-center">Login</h2>

  <!-- Display error message if login fails -->
  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}

  <form method="POST" action="{% url 'stqpictures:login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="/">
    
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <!-- Forgot password link -->
    <div class="text-center mt-3">
      <a href="{% url 'stqpictures:password_reset' %}">Forgot your password?</a>
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
  </form>
</div>
{% endblock %}
