{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="card shadow">
    <div class="card-body">
      <h1 class="h4 fw-bold text-center mb-4">Upload a Video</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Upload Video</button>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'video-list' %}" class="text-decoration-none text-primary">⬅ Back to Gallery</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}