{% load static %}
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p class="mb-1">
      &copy; 2025 STQ Media | 
      <a href="{% url 'stqpictures:privacy' %}" 
         class="text-white text-decoration-underline hover-effect">
        Privacy
      </a> | 
      <a href="{% url 'stqpictures:terms' %}" 
         class="text-white text-decoration-underline hover-effect">
        Terms
      </a>
    </p>
    <p class="mb-0 small">Designed by STQMedia_Africa</p>
    <!-- Social Media Links -->
    <div class="social-icons mt-3">
      <a href="https://www.facebook.com/stqpictures" class="text-white mx-2" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="http://www.youtube.com/c/STQPictures" class="text-white mx-2" target="_blank">
        <i class="bi bi-youtube"></i>
      </a>
      <a href="https://www.instagram.com/stqmediaafrica" class="text-white mx-2" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</footer>
